/* colors */

* {
  al:      #00000000;
  bg:      #0F1143FF;
  se:      #5E6C91FF;
  fg:      #D11070ff;
  ac:      #FF83A7ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
  white:   #FFFCFFff;
  dingus:  #3E2197ff;
}
